[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
black = "==21.6b0"
boto3 = "==1.21.0"
bokeh = "*"
cython = "*"
dill = "*"
distributed = "*"
h5py = "*"
ipywidgets = "*"
kafka-python = "*"
matplotlib = "*"
pandas = "*"
plotly = "*"
pyarrow = "*"
s3fs = "*"
scikit-image = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
sqlalchemy = "*"
statsmodels = "*"
tensorboard = "<2.0"
torch  = "*"
torchvision= "*"
jupyter-bokeh = "*"
jupyter-tensorboard = "*"
jupyterlab-git = ">=0.30.0"
jupyterlab-s3-browser = "*"
elyra-python-editor-extension = "==3.0.5"
python-lsp-server = {version = "==1.2.4", extras = ["all"]}
autopep8 = "<1.5.6,>=1.5.0"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
