[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
beautifulsoup4 = "*"
black = "==21.6b0"
bokeh = "*"
boto3 = "==1.17.11"
cloudpickle = "*"
cython = "*"
dask = "*"
dill = "*"
distributed = "*"
elyra-python-editor-extension = "==2.2.4"
h5py = "*"
ipywidgets = "*"
jupyter-bokeh = "*"
jupyter-tensorboard = "*"
jupyterlab-git = "==0.30.0"
jupyterlab-s3-browser = "*"
kafka-python = "*"
matplotlib = "*"
pandas = "*"
plotly = "*"
pyarrow = "*"
s3fs = "==0.3.4"
scikit-image = "*"
scikit-learn = "*"
scipy = "*"
seaborn = "*"
sqlalchemy = "*"
statsmodels = "*"
tensorboard = "<2.0"
torch  = "*"
torchvision= "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
